.borda-lateral {
    border-right: 1px solid #007bff;
}

.container-border {
    padding: 20px 20px 20px 20px;
}

.btn-principal {
    width: 240px;
}

.cadastro-width {
    width: 70%;
}

.btn-background-white {
    background-color: white;
}

.btn-mov-width {
    width: 100px;
}
