body {
    background-color: #E0E0E0
}


.login-div {
    display: block;
    margin-top: 15%;
    margin-bottom: auto;
    text-align: center;
}

.margin-1-upper {
    margin-top: 1%;
}

.margin-2-upper {
    margin-top: 10%;
}

.margin-3-upper {
    margin-top: 2%;
}

.table-hover tbody tr:hover th {
    background-color: white;
}

.container-border {
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 15px 15px 15px 15px;
    padding-bottom: 5px;
    background-color: white;
}

.container-border-login {
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    padding-bottom: 5px;
    background-color: #f8f8ff
}

.inner-padding-button1 {
    margin-right: 5px;
}

.inner-padding-button2 {
    margin-left: 5px;
}

.display-off {
    display: none;
}

.view-table {
    border: none;
}

    .view-table tr * {
        border: none;
    }

    .view-table tr:nth-child(2) td {
        border-top: 1px solid lightgray;
    }

    .view-table tr td {
        border-bottom: 1px solid lightgray;
    }

    .view-table tr:last-child td {
        border-bottom: none;
    }

.remove-border tbody tr:first-child td {
    border-top: none;
}
