<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <!-- Incluindo o jQuery que é requisito do JavaScript do Bootstrap localmente-->
    <script src="/Scripts/jquery-3.0.0.min.js"></script>

    <!-- Incluindo o JavaScript do Bootstrap -->
    <script src="/Scripts/bootstrap.min.js"></script>

</head>
<body>

    <!-- Incluindo o jQuery que é requisito do JavaScript do Bootstrap localmente-->
    <script src="/Scripts/jquery-3.0.0.min.js"></script>

    <!-- Incluindo o JavaScript do Bootstrap -->
    <script src="/Scripts/bootstrap.min.js"></script>
